Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

chore(deps): update babel monorepo
  packages/cli/package.json
  packages/common/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types

chore(deps): update dependency @jujulego/jill to v1.2.1
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency ts-jest to v27.1.4
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency d3 to v7.4.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency eslint to v8.12.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency eslint-plugin-react to v7.29.4
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/alma-api to v2.3.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency ts-node to v10.7.0
  packages/cli/package.json
  packages/core/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, samples

chore(deps): update dependency @jujulego/alma-graphql to v2.1.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency eslint-plugin-react-hooks to v4.4.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency webpack to v5.71.0
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency chalk to v5
  packages/cli/package.json
  packages/core/package.json
  yarn.lock
Labels: cli, core

chore(deps): update jest monorepo
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update emotion monorepo
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update nest monorepo
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update material-ui monorepo
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update babel monorepo
  packages/cli/package.json
  packages/common/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types

fix(deps): update dependency ora to v6
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency @nestjs/schematics to v8.0.10
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @types/node to v14.18.16
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency @types/react to v17.0.44
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update actions/checkout action to v2.4.2
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*
