Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, types

update(types): add clean task
  packages/gate/gulpfile.js
  packages/types/gulpfile.js
  packages/types/package.json
  yarn.lock
Labels: gate, types

update(cli): setup gulp
  packages/cli/.eslintrc.json
  packages/cli/.npmignore
  packages/cli/gulpfile.js
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/tsconfig.types.json
  packages/gate/package.json
  yarn.lock
Labels: cli, gate

chore: setup version update
  .yarn/versions/7c94e085.yml
Labels: none

chore(deps): pin dependency del to 6.0.0
  packages/cli/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, gate, types

update: use gqlResource
  packages/front/package.json
  packages/front/src/layout/Navbar.tsx
  packages/front/src/molecules/Logs.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: front

chore(deps): update babel monorepo to v7.15.8
  packages/cli/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types

chore: setup version update
  .yarn/versions/c4d4e773.yml
Labels: none

chore(deps): update dependency eslint-plugin-react to v7.26.1
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency nodemon to v2.0.13
  samples/express-api/package.json
Labels: none

chore(deps): update dependency jest to v27.2.5
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency webpack to v5.58.1
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency webpack-dev-server to v4.3.1
  packages/front/package.json
  yarn.lock
Labels: front

chore: remove useless dependencies
  packages/cli/package.json
  packages/gate/package.json
  yarn.lock
Labels: cli, gate

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
types: packages/types/**/*
