Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

chore: fix package.json
  packages/core/package.json
  packages/gate/package.json
  yarn.lock
Labels: core, gate

add(types): logger interface
  packages/types/package.json
  packages/types/src/index.ts
  packages/types/src/logger.ts
  yarn.lock
Labels: types

update(types): test console logger
  .idea/runConfigurations/build__janus_types_.xml
  .idea/runConfigurations/start__janus_core_.xml
  .idea/runConfigurations/test__janus_types_.xml
  packages/types/jest.config.js
  packages/types/package.json
  packages/types/src/logger.ts
  packages/types/tests/logger.test.ts
  yarn.lock
Labels: types

update(types): logger interface metadata
  .idea/runConfigurations/build__janus_core_.xml
  packages/cli/src/logger.ts
  packages/core/src/config/janus-config.ts
  packages/core/src/logger.ts
  packages/types/src/log.ts
  packages/types/src/logger.ts
Labels: cli, core, types

add(types): config loader
  packages/types/package.json
  packages/types/src/config.ts
  packages/types/src/index.ts
  packages/types/src/janus-config.ts
  yarn.lock
Labels: types

update(types): test config loader
  .idea/runConfigurations/build__janus_types_.xml
  .idea/runConfigurations/test__janus_types_.xml
  packages/types/src/janus-config.ts
  packages/types/tests/janus-config.test.ts
  packages/types/tests/test-logger.ts
Labels: types

chore: yarn install
  yarn.lock
Labels: none

update(gate): use new config loader
  packages/gate/package.json
  packages/gate/src/janus-gate.ts
Labels: gate

update(core): use new config loader
  packages/core/src/config/config.service.ts
  packages/core/src/config/index.ts
  packages/core/src/config/janus-config.ts
  packages/core/src/pidfile.ts
  packages/core/src/proxy/proxy.server.ts
  packages/core/src/server.ts
  packages/core/src/services/gates.service.ts
Labels: core

update(cli): use new config loader
  packages/cli/src/client.ts
  packages/cli/src/commands/logs.ts
  packages/cli/src/commands/start.ts
  packages/cli/src/commands/stop.ts
Labels: cli

chore(deps): update dependency webpack to v5.58.2
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency @nestjs/testing to v8.1.0
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @jujulego/alma-api to v1.1.6
  packages/front/package.json
  yarn.lock
Labels: front

add(common): move config loader to new package common
  .idea/janus.iml
  packages/cli/src/commands/logs.ts
  packages/cli/src/commands/stop.ts
  packages/common/.babelrc
  packages/common/.eslintrc.json
  packages/common/.gitignore
  packages/common/.npmignore
  packages/common/README.md
  packages/common/gulpfile.js
  packages/common/jest.config.js
  packages/common/package.json
  packages/common/sonar-project.properties
  packages/common/src/config.schema.json
  packages/common/src/index.ts
  packages/common/src/janus-config.ts
  packages/common/tests/janus-config.test.ts
  packages/common/tests/test-logger.ts
  packages/common/tsconfig.json
  packages/core/package.json
  packages/core/src/server.ts
  packages/gate/package.json
  packages/gate/src/janus-gate.ts
  packages/types/src/index.ts
  yarn.lock
Labels: cli, core, gate, types

chore: setup update version
  .yarn/versions/3af45ffe.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/3af45ffe.yml
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

chore(deps): update dependency @types/node to v14.17.25
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency @types/node to v14.17.26
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency @jujulego/alma-graphql to v1.0.13
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @nestjs/testing to v8.1.1
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency eslint-plugin-jest to v25.0.6
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @types/react to v17.0.30
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update material-ui monorepo to v5.0.4
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/node to v14.17.27
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency eslint-plugin-jest to v25.1.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @types/yargs to v17.0.4
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency html-webpack-plugin to v5.4.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update actions/checkout action to v2.3.5
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency ts-jest to v27.0.7
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @jujulego/alma-api to v1.1.7
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/alma-graphql to v1.0.14
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @emotion/react to v11.5.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency eslint-plugin-jest to v25.2.2
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @nestjs/cli to v8.1.4
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency webpack-cli to v4.9.1
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency nodemon to v2.0.14
  samples/express-api/package.json
  yarn.lock
Labels: samples

chore(deps): update dependency @types/d3 to v7.1.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/jill to v1.1.4
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency jest to v27.3.1
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency fork-ts-checker-webpack-plugin to v6.4.0
  packages/front/package.json
  yarn.lock
Labels: front

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*
