Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

chore(deps): update dependency @jujulego/jill to v1.2.0
  package.json
  yarn.lock
Labels: none

chore(deps): update actions/setup-node action to v2.5.1
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency @emotion/react to v11.7.1
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/node to v14.18.5
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency @types/react to v17.0.38
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/yargs to v17.0.8
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency ts-jest to v27.1.3
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency winston-transport to v4.4.2
  packages/core/package.json
  yarn.lock
Labels: core

fix(deps): update dependency express to v4.17.2
  samples/express-api/package.json
  yarn.lock
Labels: samples

chore(deps): update dependency d3 to v7.3.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update material-ui monorepo to v5.3.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency typescript to v4.5.5
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

chore(deps): update dependency eslint to v8.9.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency axios to v0.26.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update babel monorepo
  packages/cli/package.json
  packages/common/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types

chore(deps): update dependency @nestjs/schematics to v8.0.6
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @types/node to v14.18.12
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency @types/react to v17.0.39
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency eslint-plugin-jest to v25.7.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency webpack-cli to v4.9.2
  packages/front/package.json
  yarn.lock
Labels: front

fix(deps): update dependency express to v4.17.3
  samples/express-api/package.json
  yarn.lock
Labels: samples

chore(deps): update dependency eslint-plugin-react to v7.28.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency react-router-dom to v6.2.1
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/ws to v8.5.1
  packages/cli/package.json
  packages/gate/package.json
  yarn.lock
Labels: cli, gate

chore(deps): update dependency @nestjs/schematics to v8.0.7
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency supertest to v6.2.2
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency winston-transport to v4.5.0
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency ts-node to v10.6.0
  packages/cli/package.json
  packages/core/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, samples

chore(deps): update dependency webpack to v5.70.0
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency webpack-dev-server to v4.7.4
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency ts-loader to v9.2.8
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @types/ws to v8.5.3
  packages/cli/package.json
  packages/gate/package.json
  yarn.lock
Labels: cli, gate

chore(deps): update dependency @types/react-dom to v17.0.14
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency react-router-dom to v6.3.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/yargs to v17.0.10
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update dependency @nestjs/schematics to v8.0.9
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @types/react to v17.0.43
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/alma-graphql to v2.1.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/supertest to v2.0.12
  packages/core/package.json
  yarn.lock
Labels: core

feat(front): remove axios dependency
  .idea/markdown.xml
  packages/front/package.json
  yarn.lock
Labels: front

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*
