Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

chore(deps): update dependency webpack to v5.59.1
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency @nestjs/schematics to v8.0.4
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update typescript-eslint monorepo to v5.1.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @types/react to v17.0.31
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/react-dom to v17.0.10
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency babel-loader to v8.2.3
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/node to v14.17.29
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency ts-node to v10.4.0
  packages/cli/package.json
  packages/core/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, samples

chore(deps): update dependency @types/react to v17.0.32
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency html-webpack-plugin to v5.5.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @nestjs/testing to v8.1.2
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @types/node to v14.17.30
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

fix(common): json import error
  .idea/runConfigurations/build__janus_common_.xml
  packages/common/config.schema.json
  packages/common/gulpfile.js
  packages/common/src/janus-config.ts
  packages/common/tests/janus-config.test.ts
Labels: none

feat(front): upgrade alma-graphql
  packages/front/package.json
  packages/front/src/index.tsx
  packages/front/src/layout/Navbar.tsx
  packages/front/src/molecules/Logs.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: front

chore: setup version update
  .yarn/versions/28dd572c.yml
Labels: none

chore(deps): update dependency webpack to v5.60.0
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update typescript-eslint monorepo to v5.2.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore: update bundles & version numbers
  .yarn/versions/28dd572c.yml
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples

chore(deps): update dependency @types/node to v14.17.32
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency @types/react to v17.0.33
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/react-router-dom to v5.3.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/alma-api to v2.1.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/jill to v1.1.5
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency @jujulego/alma-graphql to v2.0.3
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency axios to v0.24.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency graphql to v15.7.1
  packages/common/package.json
  packages/front/package.json
  packages/types/package.json
  yarn.lock
Labels: front, types

chore(deps): update dependency webpack-dev-server to v4.4.0
  packages/front/package.json
  yarn.lock
Labels: front

feat(control): query logs from file
  packages/core/src/control/log.model.ts
  packages/core/src/control/server.resolver.ts
Labels: core

feat(logging): add logfile
  .gitignore
  packages/core/src/logger.ts
  packages/core/src/main.ts
  packages/core/src/server.ts
Labels: core

feat(control): stream logs from file
  packages/core/src/control/logger.transport.ts
Labels: core

feat(control): logs query args
  packages/core/src/control/logs.args.ts
  packages/core/src/control/server.resolver.ts
Labels: core

update(config): add logfile field
  .idea/janus.iml
  .idea/runConfigurations/All_Tests__janus_common_.xml
  .idea/runConfigurations/All_Tests__janus_types_.xml
  packages/common/config.schema.json
  packages/common/src/janus-config.ts
  packages/common/tests/janus-config.test.ts
  packages/types/src/config.ts
Labels: types

feat(control): query all logs & fix timestamp format
  packages/core/src/control/server.resolver.ts
  packages/core/src/logger.ts
  packages/core/src/main.ts
  packages/front/src/molecules/Logs.tsx
Labels: core, front

fix(config): failed to import config schema
  packages/common/.npmignore
  packages/types/gulpfile.js
Labels: types

chore: setup version update
  .yarn/versions/b52e739c.yml
Labels: none

chore: setup eslint plugin workspaces
  .eslintrc.json
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore: rework build configs
  package.json
  packages/cli/.babelrc
  packages/cli/gulpfile.js
  packages/cli/tsconfig.json
  packages/common/.babelrc
  packages/common/gulpfile.js
  packages/common/tsconfig.json
  packages/core/tsconfig.json
  packages/front/package.json
  packages/front/tsconfig.json
  packages/gate/.babelrc
  packages/gate/gulpfile.js
  packages/gate/tsconfig.json
  packages/types/.babelrc
  packages/types/gulpfile.js
  packages/types/package.json
  packages/types/tsconfig.json
  samples/express-api/tsconfig.json
  tsconfig.base.json
Labels: cli, core, front, gate, samples, types

chore: setup version update
  .yarn/versions/b52e739c.yml
Labels: none

fix(front): build error
  packages/front/tsconfig.json
Labels: front

chore: update bundles & version numbers
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*
