Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*

chore: config gren
  .grenrc.json
Labels: none

chore(deps): update dependency graphql to v15.7.2
  packages/common/package.json
  packages/front/package.json
  packages/types/package.json
  yarn.lock
Labels: front, types

fix: missing config schema
  packages/common/.npmignore
Labels: none

chore: setup version update
  .yarn/versions/814e3bad.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/814e3bad.yml
  .yarn/versions/b52e739c.yml
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples

fix(cli): default log level
  packages/cli/src/wrapper.ts
Labels: cli

chore: setup version update
  .yarn/versions/355d5264.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/355d5264.yml
  packages/cli/package.json
Labels: cli

chore(deps): update dependency @jujulego/jill to v1.1.6
  package.json
  yarn.lock
Labels: none

chore: build only affected workspaces in pipelines
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency webpack to v5.61.0
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency @types/yargs to v17.0.5
  packages/cli/package.json
  yarn.lock
Labels: cli

chore: fix babel config and remove support ie support
  packages/cli/.babelrc
  packages/cli/package.json
  packages/common/.babelrc
  packages/common/package.json
  packages/core/package.json
  packages/front/.babelrc
  packages/front/package.json
  packages/gate/.babelrc
  packages/gate/package.json
  packages/types/.babelrc
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

chore(deps): update dependency @jujulego/alma-api to v2.1.3
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update babel monorepo to v7.16.0
  packages/cli/package.json
  packages/common/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types

chore(deps): update dependency graphql to v16
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @jujulego/jill to v1.1.8
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency @jujulego/alma-graphql to v2.0.4
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update typescript-eslint monorepo to v5.3.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency graphql to v16.0.1
  packages/common/package.json
  packages/front/package.json
  packages/types/package.json
  yarn.lock
Labels: front, types

chore(deps): update actions/checkout action to v2.4.0
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

fix(deps): update dependency graphql-subscriptions to v2
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @types/react to v17.0.34
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency react-router-dom to v6
  packages/front/package.json
  yarn.lock
Labels: front

test(core): pidfile
  .idea/runConfigurations/All_Tests__janus_common_.xml
  .idea/runConfigurations/All_Tests__janus_core_.xml
  packages/core/package.json
  packages/core/src/pidfile.ts
  packages/core/tests/.gitkeep
  packages/core/tests/pidfile.test.ts
  packages/core/tests/utils/logger.ts
  yarn.lock
Labels: core

chore: setup version update
  .yarn/versions/79612aa3.yml
Labels: none

chore(deps): update dependency @types/react-dom to v17.0.11
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/jill to v1.1.10
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency eslint-plugin-jest to v25.2.3
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency webpack to v5.62.1
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore: rollback graphql major upgrade
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/core/src/server.ts
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

fix(cli): remove console logger transport when daemon is detached
  packages/cli/src/commands/start.ts
  packages/cli/src/proxy.ts
Labels: cli

chore: setup version update
  .yarn/versions/5096d2ed.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/5096d2ed.yml
  .yarn/versions/79612aa3.yml
  packages/cli/package.json
Labels: cli

chore: remove webpack performance issue warning
  .idea/runConfigurations/build__janus_front_.xml
  .idea/runConfigurations/stats__janus_front_.xml
  packages/front/package.json
  packages/front/webpack.common.js
  packages/front/webpack.stats.js
Labels: front

chore(deps): update dependency @jujulego/jill to v1.1.11
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency eslint-plugin-jest to v25.2.4
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @nestjs/testing to v8.2.0
  packages/core/package.json
  yarn.lock
Labels: core

feat(gate): logger wrapper
  packages/gate/package.json
  packages/gate/src/index.ts
  packages/gate/src/janus-gate.ts
  packages/gate/src/logger.ts
  packages/gate/tests/.gitkeep
  packages/gate/tests/logger.test.ts
  yarn.lock
Labels: gate

chore: setup version update
  .yarn/versions/0b64c927.yml
Labels: none
