Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*

chore: fix error in transformed code
  .yarn/versions/7c94e085.yml
  .yarn/versions/c4d4e773.yml
  packages/cli/.babelrc
  packages/cli/package.json
  packages/core/package.json
  packages/front/.babelrc
  packages/front/package.json
  packages/gate/.babelrc
  packages/gate/package.json
  packages/types/.babelrc
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

fix(deps): pin dependency express to 4.17.1
  samples/express-api/package.json
  yarn.lock
Labels: samples

chore(deps): update dependency eslint-plugin-jest to v24.5.2
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @jujulego/alma-api to v1.1.3
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/alma-graphql to v1.0.8
  packages/front/package.json
  yarn.lock
Labels: front

update(front): use gqlDoc util
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: front

chore(deps): update dependency eslint-plugin-jest to v24.7.0
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

update(core): setup graphql-ws
  packages/core/package.json
  packages/core/src/app.module.ts
  yarn.lock
Labels: core

update(front): subscribe to logs
  packages/front/package.json
  packages/front/src/index.tsx
  packages/front/src/molecules/Logs.tsx
  yarn.lock
Labels: front

update(front): upgrade alma
  packages/front/package.json
  yarn.lock
Labels: front

update(front): subscribe to services
  packages/front/src/pages/ServicePage.tsx
Labels: front

chore: setup version update
  .yarn/versions/efe699e6.yml
Labels: none

update(gate): use graphql-ws
  packages/gate/package.json
  packages/gate/src/janus-gate.ts
  yarn.lock
Labels: gate

update(cli): use graphql-ws
  packages/cli/package.json
  packages/cli/src/client.ts
  yarn.lock
Labels: cli

chore: setup version update
  .yarn/versions/efe699e6.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/efe699e6.yml
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples

fix(cli): build script output
  packages/cli/gulpfile.js
Labels: cli

fix(front): check types on build
  packages/front/.gitignore
  packages/front/package.json
  packages/front/webpack.common.js
  yarn.lock
Labels: front

chore: setup version update
  .yarn/versions/7f75a81b.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/7f75a81b.yml
  packages/cli/package.json
Labels: cli

update(core): add pidfile in config file
  packages/core/src/config/config.service.ts
  packages/core/src/config/janus-config.ts
  packages/types/src/config.schema.json
  packages/types/src/config.ts
Labels: core, types

update(core): don't start server if pidfile exists
  .gitignore
  .idea/janus.iml
  packages/cli/src/commands/start.ts
  packages/core/src/main.ts
  packages/core/src/server.ts
Labels: cli, core

update(core): update pidfile if process who created it is stopped
  packages/core/package.json
  packages/core/src/pidfile.ts
  packages/core/src/server.ts
  yarn.lock
Labels: core

chore(deps): update dependency ts-node to v10.3.0
  packages/cli/package.json
  packages/core/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, samples

update(cli): daemon option in start command
  .idea/janus.iml
  packages/cli/src/commands/start.ts
  packages/cli/src/main.ts
  packages/cli/src/proxy.ts
  packages/cli/tsconfig.json
Labels: cli

update(cli): transmit logs from forked process
  packages/cli/package.json
  packages/cli/src/commands/start.ts
  packages/cli/src/proxy.ts
  packages/cli/src/wrapper.ts
  packages/core/src/app.module.ts
  packages/core/src/pidfile.ts
  packages/core/src/server.ts
Labels: cli, core

chore: no sonarcloud for renovate
  .github/workflows/pull-request.yml
Labels: none

chore: setup update version
  .yarn/versions/e29febaf.yml
Labels: none

update(core): set logger transport in main.ts
  packages/cli/src/logger.ts
  packages/cli/src/proxy.ts
  packages/core/src/logger.ts
  packages/core/src/main.ts
Labels: cli, core

update(core): log pid file operations
  packages/cli/src/commands/start.ts
  packages/core/src/pidfile.ts
Labels: cli, core

fix(cli): remove useless import
  packages/cli/src/commands/start.ts
Labels: cli

chore(deps): update dependency eslint-plugin-jest to v25
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore: update bundles & version numbers
  .yarn/versions/e29febaf.yml
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

chore(deps): update typescript-eslint monorepo to v5
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore: update bundles & version numbers
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

chore(deps): update dependency webpack-bundle-analyzer to v4.5.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/react to v17.0.29
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency axios to v0.23.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/node to v14.17.22
  packages/cli/package.json
  packages/core/package.json
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples

chore(deps): update dependency typescript to v4.4.4
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types
