Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, types

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
types: packages/types/**/*

update(cli): copy stop command
  libs/janus-proxy/.eslintrc.json
  libs/janus-proxy/.gitignore
  libs/janus-proxy/.npmignore
  libs/janus-proxy/.prettierrc
  libs/janus-proxy/README.md
  libs/janus-proxy/jest.config.e2e.json
  libs/janus-proxy/jest.config.unit.json
  libs/janus-proxy/nest-cli.json
  libs/janus-proxy/package.json
  libs/janus-proxy/src/front.module.ts
  libs/janus-proxy/src/index.ts
  libs/janus-proxy/tests/app.spec.ts
  libs/janus-proxy/tsconfig.build.json
  libs/janus-proxy/tsconfig.json
  packages/cli/src/client.ts
  packages/cli/src/commands/stop.ts
  packages/cli/src/main.ts
Labels: cli

update(cli): copy logs command
  apps/janus/.eslintrc.json
  apps/janus/.gitignore
  apps/janus/.npmignore
  apps/janus/bin/janus.js
  apps/janus/janus.config.yml
  apps/janus/package.json
  apps/janus/src/client.ts
  apps/janus/src/commands/logs.ts
  apps/janus/src/commands/stop.ts
  apps/janus/src/helpers.ts
  apps/janus/src/logger.ts
  apps/janus/src/main.ts
  apps/janus/tsconfig.build.json
  apps/janus/tsconfig.json
  packages/cli/src/client.ts
  packages/cli/src/commands/logs.ts
  packages/cli/src/logger.ts
  packages/cli/src/main.ts
Labels: cli

chore(deps): update dependency @nestjs/schematics to v8.0.3
  libs/janus-front/package.json
Labels: none

chore(deps): update dependency ts-jest to v27.0.5
  libs/janus-front/package.json
Labels: none

chore(deps): update dependency eslint to v7.32.0
  libs/janus-front/package.json
Labels: none

chore(deps): update dependency @types/jest to v27
  libs/janus-front/package.json
Labels: none

update(cli): format remote logs
  packages/cli/src/commands/logs.ts
  packages/cli/src/logger.ts
  packages/core/src/index.ts
  packages/core/src/logger.ts
Labels: cli, core

chore: setup front package
  packages/cli/package.json
  packages/front/.babelrc
  packages/front/.eslintrc.json
  packages/front/README.md
  packages/front/jest.config.js
  packages/front/package.json
  packages/front/sonar-project.properties
  packages/front/tsconfig.json
  packages/front/webpack.config.js
  yarn.lock
Labels: cli, front

update(front): setup react hello world
  .idea/runConfigurations/start__janus_front_.xml
  .idea/webResources.xml
  packages/front/.babelrc
  packages/front/.gitignore
  packages/front/package.json
  packages/front/public/index.html
  packages/front/public/manifest.json
  packages/front/public/robots.txt
  packages/front/src/index.tsx
  yarn.lock
Labels: front

update(front): setup material ui
  packages/front/package.json
  packages/front/src/index.tsx
  packages/front/src/theme.ts
  yarn.lock
Labels: front

update(front): add navbar
  packages/front/src/index.tsx
  packages/front/src/layout/Navbar.tsx
Labels: front

update(front): use alma's graphql utils
  packages/front/package.json
  packages/front/src/layout/Navbar.tsx
  yarn.lock
Labels: front

update(front): split bundle
  packages/front/webpack.config.js
Labels: front

chore: restore and fix pnp mode
  .idea/compiler.xml
  .idea/misc.xml
  .yarnrc.yml
  packages/cli/package.json
  packages/core/.eslintrc.json
  packages/core/package.json
  packages/core/src/logger.ts
  packages/gate/package.json
  yarn.lock
Labels: cli, core, gate

fix(deps): pin dependencies
  packages/core/package.json
  packages/front/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: core, front, types

fix(deps): pin dependency graphql-tag to 2.12.5
  packages/front/package.json
  yarn.lock
Labels: front

update(front): remove corejs to reduce bundle size
  packages/front/package.json
  packages/front/src/index.tsx
  yarn.lock
Labels: front

update(front): setup babel macros
  .yarnrc.yml
  packages/front/.babelrc
  packages/front/package.json
  packages/front/src/layout/Navbar.tsx
  yarn.lock
Labels: front

update(front): optimize webpack config
  packages/front/.babelrc
  packages/front/.eslintrc.json
  packages/front/package.json
  packages/front/webpack.common.js
  packages/front/webpack.dev.js
  packages/front/webpack.prod.js
  yarn.lock
Labels: front

chore(deps): pin dependencies
  packages/front/package.json
  yarn.lock
Labels: front

update(front): home page
  packages/front/src/index.tsx
  packages/front/src/pages/Home.tsx
Labels: front

update(front): fix mui imports
  .idea/misc.xml
  packages/front/.babelrc
  packages/front/.eslintrc.json
  packages/front/package.json
  packages/front/src/index.tsx
  packages/front/src/pages/Home.tsx
  packages/front/src/theme.ts
  yarn.lock
Labels: front

add(front): copy service page
  packages/front/package.json
  packages/front/src/index.tsx
  packages/front/src/layout/Navbar.tsx
  packages/front/src/molecules/ServiceHeader.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: front

update(front): setup front dev proxy
  packages/front/src/layout/Navbar.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  packages/front/webpack.common.js
  packages/front/webpack.dev.js
Labels: front

update(front): setup lazy loading
  .idea/janus.iml
  packages/front/src/index.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  packages/front/tsconfig.json
  packages/front/webpack.common.js
Labels: front

update(front): copy logs logic
  libs/janus-front/app/apollo-client.ts
  libs/janus-front/app/control/Log.tsx
  libs/janus-front/app/control/levels.ts
  libs/janus-front/app/layout/Navbar.tsx
  libs/janus-front/app/next-env.d.ts
  libs/janus-front/app/pages/_app.tsx
  libs/janus-front/app/pages/_document.tsx
  libs/janus-front/app/pages/index.tsx
  libs/janus-front/app/pages/services/[name].tsx
  libs/janus-front/app/services/ServiceHeader.tsx
  libs/janus-front/app/theme.ts
  libs/janus-front/app/tsconfig.json
  packages/front/package.json
  packages/front/src/atoms/LevelChip.tsx
  packages/front/src/atoms/Log.tsx
  packages/front/src/layout/Navbar.tsx
  packages/front/src/levels.ts
  packages/front/src/molecules/Logs.tsx
  packages/front/src/pages/HomePage.tsx
  yarn.lock
Labels: front

update(front): copy service logs logic
  packages/front/src/pages/ServicePage.tsx
Labels: front

update(types): use babel to reduce front's bundle
  packages/types/.babelrc
  packages/types/package.json
  packages/types/src/gate.ts
  packages/types/src/log.ts
  packages/types/src/service.ts
  packages/types/tsconfig.cjs.json
  packages/types/tsconfig.json
  packages/types/tsconfig.types.json
  yarn.lock
Labels: types

fix(deps): update dependency next to v11 [security]
  libs/janus-front/package.json
Labels: none

update(front): copy service graph
  libs/janus-front/app/services/ServiceGraph.tsx
  packages/front/package.json
  packages/front/src/molecules/ServiceGraph.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: front

update(front): copy gate details
  libs/janus-front/app/pages/index.tsx
  libs/janus-front/app/pages/services/[name].tsx
  packages/front/src/molecules/GateDetails.tsx
  packages/front/src/pages/ServicePage.tsx
Labels: front

chore: remove old code !
  libs/janus-front/.eslintrc.json
  libs/janus-front/.gitignore
  libs/janus-front/.npmignore
  libs/janus-front/nest-cli.json
  libs/janus-front/package.json
  libs/janus-front/src/app.controller.ts
  libs/janus-front/src/app.service.ts
  libs/janus-front/src/index.ts
  libs/janus-front/src/janus-front.module.ts
  libs/janus-front/tsconfig.build.json
  libs/janus-front/tsconfig.json
Labels: none

chore(deps): update dependency @jujulego/jill to v1.1.3
  package.json
  yarn.lock
Labels: none

update(core): add context to morgan logs
  packages/core/src/server.ts
  packages/front/package.json
  yarn.lock
Labels: core, front

update(front): move app code to app directory
  packages/front/app/atoms/LevelChip.tsx
  packages/front/app/atoms/Log.tsx
  packages/front/app/index.tsx
  packages/front/app/layout/Navbar.tsx
  packages/front/app/levels.ts
  packages/front/app/molecules/GateDetails.tsx
  packages/front/app/molecules/Logs.tsx
  packages/front/app/molecules/ServiceGraph.tsx
  packages/front/app/molecules/ServiceHeader.tsx
  packages/front/app/pages/HomePage.tsx
  packages/front/app/pages/ServicePage.tsx
  packages/front/app/theme.ts
  packages/front/nest-cli.json
  packages/front/package.json
  packages/front/webpack.common.js
Labels: front

chore(deps): update dependency @types/react to v17.0.27
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency supertest to v6.1.6
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency ts-node to v10.2.1
  samples/express-api/package.json
Labels: none

update(core): serve janus front app
  .yarnrc.yml
  packages/core/package.json
  packages/core/src/app.module.ts
  packages/front/nest-cli.json
  packages/front/package.json
  packages/front/public/index.js
  packages/front/src/atoms/LevelChip.tsx
  packages/front/src/atoms/Log.tsx
  packages/front/src/index.tsx
  packages/front/src/layout/Navbar.tsx
  packages/front/src/levels.ts
  packages/front/src/molecules/GateDetails.tsx
  packages/front/src/molecules/Logs.tsx
  packages/front/src/molecules/ServiceGraph.tsx
  packages/front/src/molecules/ServiceHeader.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  packages/front/src/theme.ts
  packages/front/webpack.common.js
  yarn.lock
Labels: core, front

chore: setup pipelines
  .github/dependabot.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none
