Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, types

chore: fix pipelines
  .github/workflows/codeql-analysis.yml
Labels: none

chore: fix pipelines
  .github/workflows/publish.yml
Labels: none

chore: fix pipelines
  .github/workflows/publish.yml
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore: fix pipelines
  packages/cli/sonar-project.properties
  packages/core/sonar-project.properties
  packages/front/sonar-project.properties
  packages/gate/sonar-project.properties
  packages/types/sonar-project.properties
Labels: cli, core, front, gate, types

chore: setup test in pipelines
  .github/workflows/publish.yml
  .idea/janus.iml
  package.json
  packages/cli/package.json
  packages/cli/tests/.gitkeep
  packages/core/package.json
  packages/core/tests/.gitkeep
  packages/front/package.json
  packages/front/tests/.gitkeep
  packages/gate/package.json
  packages/gate/tests/.gitkeep
  packages/types/package.json
  packages/types/tests/.gitkeep
  yarn.lock
Labels: cli, core, front, gate, types

chore: setup pr pipeline
  .github/workflows/pull-request.yml
  .idea/janus.iml
Labels: none

fix: peer dependencies and front npmignore
  packages/front/.npmignore
  packages/gate/package.json
  packages/types/package.json
Labels: front, gate, types

chore: setup version update
  .yarn/versions/6e59d6c3.yml
Labels: none

chore: fix lockfile
  yarn.lock
Labels: none

chore: update bundles & version numbers
  .yarn/versions/6e59d6c3.yml
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

add(types): package main
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
Labels: cli, core, front, gate, types

chore: fix lockfile
  yarn.lock
Labels: none

chore: fix lockfile
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  yarn.lock
Labels: cli, core, front, gate

fix(types): rework build script
  packages/types/.babelrc
  packages/types/package.json
  packages/types/tsconfig.types.json
  yarn.lock
Labels: types

fix(gate): rework build script
  packages/gate/.babelrc
  packages/gate/package.json
  packages/gate/src/janus-gate.ts
  packages/gate/tsconfig.cjs.json
  packages/gate/tsconfig.json
  packages/gate/tsconfig.types.json
  packages/types/package.json
  packages/types/tsconfig.json
  packages/types/tsconfig.types.json
  yarn.lock
Labels: gate, types

fix(cli): rework build script
  packages/cli/.babelrc
  packages/cli/package.json
  packages/cli/src/commands/logs.ts
  packages/cli/src/commands/stop.ts
  packages/cli/tsconfig.json
  packages/cli/tsconfig.types.json
  yarn.lock
Labels: cli

chore: setup version update
  .yarn/versions/4f7fb359.yml
Labels: none

chore: fix pr pipeline
  .github/workflows/pull-request.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/4f7fb359.yml
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore: fix babel cjs target
  .yarn/versions/dd4b5afb.yml
  packages/cli/.babelrc
  packages/gate/.babelrc
  packages/types/.babelrc
Labels: cli, gate, types

chore: update bundles & version numbers
  .yarn/versions/dd4b5afb.yml
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

fix(deps): update dependency @jujulego/janus-gate to v1.0.4
  samples/express-api/package.json
Labels: none

chore(deps): update dependency @types/node to v14.17.20
  packages/cli/package.json
  packages/core/package.json
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate

chore(deps): update dependency jest to v27.2.4
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update typescript-eslint monorepo to v4.33.0
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

update(front): upgrade alma-graphql and setup mutations
  .idea/runConfigurations/build__janus_.xml
  packages/front/package.json
  packages/front/src/layout/Navbar.tsx
  packages/front/src/molecules/GateDetails.tsx
  packages/front/src/molecules/Logs.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: front

chore: setup version update
  .yarn/versions/ae232476.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/ae232476.yml
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency tsconfig-paths to v3.11.0
  samples/express-api/package.json
Labels: none

chore(deps): update dependency graphql to v15.6.1
  packages/front/package.json
  packages/types/package.json
  yarn.lock
Labels: front, types

chore(deps): update dependency @types/node to v14.17.21
  packages/cli/package.json
  packages/core/package.json
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate

chore(deps): update dependency @nestjs/testing to v8.0.11
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @types/react-router-dom to v5.3.1
  packages/front/package.json
  yarn.lock
Labels: front

chore: fix npmignore
  packages/cli/.npmignore
  packages/core/.npmignore
  packages/front/.npmignore
  packages/gate/.npmignore
  packages/types/.npmignore
Labels: cli, core, front, gate, types

chore(deps): update dependency webpack-cli to v4.9.0
  packages/front/package.json
  yarn.lock
Labels: front

update(types): build with gulp
  packages/types/.eslintrc.json
  packages/types/gulpfile.js
  packages/types/package.json
  yarn.lock
Labels: types

update(types): build with gulp
  packages/types/gulpfile.js
  packages/types/package.json
  yarn.lock
Labels: types

chore(deps): update material-ui monorepo to v5.0.3
  packages/front/package.json
  yarn.lock
Labels: front

update(types): clean up config
  packages/types/.npmignore
  packages/types/package.json
  packages/types/src/log.ts
  packages/types/tests/.gitkeep
  packages/types/tsconfig.types.json
Labels: types

update(gate): setup gulp
  packages/gate/.eslintrc.json
  packages/gate/.npmignore
  packages/gate/gulpfile.js
  packages/gate/package.json
  packages/gate/tsconfig.types.json
  packages/types/package.json
  yarn.lock
Labels: gate, types

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
types: packages/types/**/*
