Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

chore: update bundles & version numbers
  .yarn/versions/0b64c927.yml
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: gate, samples

fix: keep logger this
  packages/gate/src/logger.ts
Labels: gate

chore: setup version update
  .yarn/versions/4e60ecff.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/4e60ecff.yml
  packages/gate/package.json
  samples/express-api/package.json
  yarn.lock
Labels: gate, samples

chore(deps): update typescript-eslint monorepo to v5.3.1
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @types/node to v14.17.33
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency webpack to v5.62.2
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency eslint-plugin-react-hooks to v4.3.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency react-router-dom to v6
  packages/front/package.json
  yarn.lock
Labels: front

feat(front): react router update
  packages/front/package.json
  packages/front/src/index.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: front

chore(deps): update material-ui monorepo to v5.1.0
  packages/front/package.json
  yarn.lock
Labels: front

fix(front): not rendering main page
  packages/front/src/index.tsx
Labels: front

fix(front): missing mui core deps
  .yarnrc.yml
  yarn.lock
Labels: none

chore(deps): update dependency nodemon to v2.0.15
  samples/express-api/package.json
  yarn.lock
Labels: samples

chore(deps): update dependency @babel/runtime to v7.16.3
  packages/cli/package.json
  packages/common/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types

chore(deps): update dependency webpack to v5.63.0
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency react-router-dom to v6.0.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency eslint-plugin-react to v7.27.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @jujulego/jill to v1.1.13
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency webpack to v5.64.0
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency copy-webpack-plugin to v9.1.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update yarn to v3.1.0
  package.json
Labels: none

chore: upgrade yarn
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.1.0.cjs
  .yarnrc.yml
  yarn.lock
Labels: none

chore(deps): update emotion monorepo to v11.6.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency webpack to v5.64.1
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update typescript-eslint monorepo to v5.4.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @types/react to v17.0.35
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @nestjs/schematics to v8.0.5
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @babel/preset-env to v7.16.4
  packages/cli/package.json
  packages/common/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types

chore(deps): update dependency @jujulego/jill to v1.1.14
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency webpack-dev-server to v4.5.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update material-ui monorepo to v5.1.1
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/yargs to v17.0.7
  packages/cli/package.json
  yarn.lock
Labels: cli

chore(deps): update nest monorepo
  packages/core/package.json
  yarn.lock
Labels: core

chore: remove useless package extensions
  .yarnrc.yml
Labels: none

chore(deps): update dependency @types/jest to v27.0.3
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: core, gate, types

chore(deps): update dependency @types/node to v14.17.34
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency eslint-plugin-react to v7.27.1
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency source-map-support to v0.5.21
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency @jujulego/jill to v1.1.16
  package.json
  yarn.lock
Labels: none

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*
