Repository Jujulego/janus, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, core, front, gate, samples, types

.github/labeler.yml:

cli: packages/cli/**/*
core: packages/core/**/*
front: packages/front/**/*
gate: packages/gate/**/*
samples: samples/**/*
types: packages/types/**/*

chore(deps): update dependency webpack to v5.64.2
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

fix(deps): update dependency class-transformer to ^0.5.0
  packages/core/package.json
  yarn.lock
Labels: core

feat(core): split out pidfile logic to new package
  .grenrc.json
  packages/core/package.json
  packages/core/src/pidfile.ts
  packages/core/src/server.ts
  packages/core/tests/pidfile.test.ts
  yarn.lock
Labels: core

chore: setup version update
  .yarn/versions/0511a3fa.yml
Labels: none

chore: update bundles & version numbers
  .yarn/versions/0511a3fa.yml
  packages/cli/package.json
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: cli, core, front

chore(deps): update dependency @types/react to v17.0.36
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @nestjs/testing to v8.2.3
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency eslint-plugin-jest to v25.3.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency fork-ts-checker-webpack-plugin to v6.4.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update material-ui monorepo to v5.2.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency webpack to v5.64.3
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency @types/react to v17.0.37
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @mui/material to v5.2.1
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency webpack to v5.64.4
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update dependency webpack-dev-server to v4.6.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @emotion/react to v11.7.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update yarn to v3.1.1
  .yarn/releases/yarn-3.1.0.cjs
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: none

chore(deps): update dependency typescript to v4.5.2
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, front, gate, samples, types

chore(deps): update dependency copy-webpack-plugin to v10
  packages/front/package.json
  yarn.lock
Labels: front

chore: downgrade copy-webpack-plugin
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @mui/material to v5.2.2
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update actions/setup-node action to v2.5.0
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Labels: none

chore(deps): update dependency fork-ts-checker-webpack-plugin to v6.5.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update typescript-eslint monorepo to v5.5.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency jest to v27.4.3
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @types/ws to v8.2.1
  packages/cli/package.json
  packages/gate/package.json
  yarn.lock
Labels: cli, gate

chore(deps): update dependency @types/node to v14.18.0
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/gate/package.json
  packages/types/package.json
  samples/express-api/package.json
  yarn.lock
Labels: cli, core, gate, samples, types

chore(deps): update dependency d3 to v7.2.0
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency ts-jest to v27.1.0
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @jujulego/alma-api to v2.1.4
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency webpack to v5.65.0
  packages/core/package.json
  packages/front/package.json
  yarn.lock
Labels: core, front

chore(deps): update material-ui monorepo
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update typescript-eslint monorepo to v5.6.0
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @jujulego/alma-graphql to v2.0.5
  packages/front/package.json
  yarn.lock
Labels: front

chore(deps): update dependency @types/ws to v8.2.2
  packages/cli/package.json
  packages/gate/package.json
  yarn.lock
Labels: cli, gate

chore(deps): update dependency graphql to v15.8.0
  packages/common/package.json
  packages/front/package.json
  packages/types/package.json
  yarn.lock
Labels: front, types

chore(deps): update dependency ts-jest to v27.1.2
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update dependency @types/http-proxy to v1.17.8
  packages/core/package.json
  yarn.lock
Labels: core

chore(deps): update dependency eslint to v8
  package.json
  packages/cli/package.json
  packages/common/package.json
  packages/core/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, core, front, gate, types

chore(deps): update babel monorepo
  packages/cli/package.json
  packages/common/package.json
  packages/front/package.json
  packages/gate/package.json
  packages/types/package.json
  yarn.lock
Labels: cli, front, gate, types
