Repository Jujulego/janus, pull requests merged in 2021-11, with the labels that each got.

#217 Test pidfile
  .idea/runConfigurations/All_Tests__janus_common_.xml
  .idea/runConfigurations/All_Tests__janus_core_.xml
  .yarn/versions/79612aa3.yml
  packages/core/package.json
  packages/core/src/pidfile.ts
  packages/core/tests/.gitkeep
  packages/core/tests/pidfile.test.ts
  packages/core/tests/utils/logger.ts
  yarn.lock
Labels: core, tests

#221 Fix failing logger in daemon mode
  .yarn/versions/5096d2ed.yml
  packages/cli/src/commands/start.ts
  packages/cli/src/proxy.ts
Labels: bug, cli

#225 Add logger wrapper
  .yarn/versions/0b64c927.yml
  packages/gate/package.json
  packages/gate/src/index.ts
  packages/gate/src/janus-gate.ts
  packages/gate/src/logger.ts
  packages/gate/tests/.gitkeep
  packages/gate/tests/logger.test.ts
  yarn.lock
Labels: enhancement, gate

#226 Keep logger this
  .yarn/versions/4e60ecff.yml
  packages/gate/src/logger.ts
Labels: bug, gate

#259 Split out pid file
  .grenrc.json
  .yarn/versions/0511a3fa.yml
  packages/core/package.json
  packages/core/src/pidfile.ts
  packages/core/src/server.ts
  packages/core/tests/pidfile.test.ts
  yarn.lock
Labels: enhancement, core
