Repository Jujulego/janus, pull requests merged in 2021-10, with the labels that each got.

#113 Fix package errors
  .yarn/versions/6e59d6c3.yml
  packages/front/.npmignore
  packages/gate/package.json
  packages/types/package.json
Labels: gate, types

#117 Upgrade alma graphql
  .idea/runConfigurations/build__janus_.xml
  .yarn/versions/ae232476.yml
  packages/front/package.json
  packages/front/src/layout/Navbar.tsx
  packages/front/src/molecules/GateDetails.tsx
  packages/front/src/molecules/Logs.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: enhancement, dependencies, front

#127 Use alma-graphql's gqlResource
  .yarn/versions/c4d4e773.yml
  packages/front/package.json
  packages/front/src/layout/Navbar.tsx
  packages/front/src/molecules/Logs.tsx
  packages/front/src/pages/HomePage.tsx
  packages/front/src/pages/ServicePage.tsx
  yarn.lock
Labels: enhancement, front

#135 Use graphql subscriptions
  .yarn/versions/efe699e6.yml
  packages/cli/package.json
  packages/cli/src/client.ts
  packages/core/package.json
  packages/core/src/app.module.ts
  packages/front/package.json
  packages/front/src/index.tsx
  packages/front/src/molecules/Logs.tsx
  packages/front/src/pages/ServicePage.tsx
  packages/gate/package.json
  packages/gate/src/janus-gate.ts
  yarn.lock
Labels: enhancement, cli, front, gate, core
